@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --ff: 'Poppins', sans-serif;
  /* ### Primary */
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  /* ### Neutral */
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--Very-Light-Gray);
  font-family: var(--ff);
  color: var(--Grayish-Blue);
}

main {
  text-align: center;
  max-width: 90%;
  padding: 2rem 0 1rem 0;
}

.cards {
  display: grid;
  gap: 1.5rem;
  justify-content: center;
}

.card {
  height: 15.625rem;
  background: white;
  position: relative;
  box-shadow: 1px 1px 17px var(--Grayish-Blue);
  text-align: left;
  padding: 2rem;
}

.card__one {
  border-top: 4px solid var(--Cyan);
}

.card__two {
  border-top: 4px solid var(--Red);
}

.card__three {
  border-top: 4px solid var(--Orange);
}

.card__four {
  border-top: 4px solid var(--Blue);
}

.middle__col {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header p:first-of-type {
  font-size: 1.6rem;
  color: var(--Very-Dark-Blue);
  font-weight: 200;
}

.header__title {
  color: var(--Very-Dark-Blue);
  font-size: 1.6rem;
  font-weight: 600;
}

.card__title {
  color: var(--Very-Dark-Blue);
  font-weight: 600;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.card__text {
  font-size: 0.8125rem;
  line-height: 1.7;
}

.header__text {
  margin: 0.7rem 0 3rem 0;
  font-size: 16px;
  font-weight: 400;
}

.icon {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}

@media (min-width: 38em) {
  main {
    max-width: 69.375rem;
  }
  .cards {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
  .header p:first-of-type {
    font-size: 2.2rem;
  }
  .header {
    width: 31.25rem;
    margin: 0 auto;
  }
  .header__text {
    font-size: 0.9375rem;
  }
}
